UXT_OAUTH_KEYCLOAK_CLIENT_ID=quarkus-app
UXT_OAUTH_KEYCLOAK_CLIENT_SECRET=pipinalsolovesC0ausingPr0blemsanditsfunny
NUXT_OAUTH_KEYCLOAK_SERVER_URL=http://localhost:8675
NUXT_OAUTH_KEYCLOAK_REALM=quarkus
API_URL=http://localhost:8080
