NUXT_OIDC_PROVIDERS_KEYCLOAK_CLIENT_SECRET=
NUXT_OIDC_PROVIDERS_KEYCLOAK_CLIENT_ID=quarkus-app
NUXT_OIDC_PROVIDERS_KEYCLOAK_BASE_URL=http://localhost:8675/realms/quarkus
API_URL=http://localhost:8080
